<form data-ng-submit="create(name)">
    <h2 class="dialog-title">Skapa liga</h2>
    <p class="dialog-description">Fyll i ligans namn:</p>
    <p data-ng-show="message" class="dialog-message">{{ message }}</p>

    <input data-ng-model="name" class="dialog-input" type="text" placeholder="Liga">

    <div class="dialog-actions">
        <button data-ng-click="closeThisDialog()" class="dialog-action dialog-cancel" type="button">Avbryt</button>
        <button class="dialog-action dialog-ok" type="submit">OK</button>
        <div style="clear:both;"></div>
    </div>
</form>
