<!-- More then 1 member and the current user is an admin -->
<form data-ng-if="group.admin == user.id && group.users.length > 1" data-ng-submit="leave(newAdmin)">
    <h2 class="dialog-title">Lämna</h2>
    <p class="dialog-description">Välj en ny medlem som admin</p>

    <select data-ng-model="newAdmin" data-ng-options="u.username for u in group.users | except:user.id" class="dialog-select"></select>

    <div class="dialog-actions">
        <button data-ng-click="closeThisDialog()" class="dialog-action dialog-cancel" type="button">Avbryt</button>
        <button class="dialog-action dialog-ok" type="submit">OK</button>
        <div style="clear:both;"></div>
    </div>
</form>

<!-- Only one user left, remove the entire group -->
<div data-ng-if="group.users.length == 1">
    <h2 class="dialog-title">Lämna</h2>
    <p class="dialog-description">Ligan kommer att raderas</p>

    <div class="dialog-actions">
        <button data-ng-click="closeThisDialog()" class="dialog-action dialog-cancel" type="button">Avbryt</button>
        <button data-ng-click="leave()" class="dialog-action dialog-ok" type="button">OK</button>
        <div style="clear:both;"></div>
    </div>
</div>

<!-- User leaves the group -->
<div data-ng-if="group.admin != user.id && group.users.length > 1">
    <h2 class="dialog-title">Lämna</h2>
    <p class="dialog-description">Är du säker?</p>

    <div class="dialog-actions">
        <button data-ng-click="closeThisDialog()" class="dialog-action dialog-cancel" type="button">Avbryt</button>
        <button data-ng-click="leave()" class="dialog-action dialog-ok" type="button">OK</button>
        <div style="clear:both;"></div>
    </div>
</div>
