# Logs
logs
*.log
*.txt

# Runtime data
pids
*.pid
*.seed

__pycache__/
*.py[co]
*.egg

.env
venv/
ENV/

*.sqlite3

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Build directory
build

# OS X...
.DS_Store
.DS_Store?

# django
static
fixtures
