@import "normalize";

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.game {
    padding: 10px;
    margin-bottom: 20px;
    background: #dddddd;
}

.round {
    padding: 10px;
    margin-bottom: 20px;
    background: #eeeeee;
}
