doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset | Admin
        link(rel="stylesheet" href="assets/css/frontend.css")

    body.admin
        div.wrapper
            h1 Supertipset

            div.form-container
                p.info-msg Räkna ut poäng baserad på match ID för alla användare.

                if error == 1
                    p.error-msg Var vänlig försök igen

                if success == 1
                    p.success-msg Uträkningen lyckades

                form(method="POST" action="/calculate")
                    input(type="text" name="id" placeholder="ID")
                    input(type="password" name="password" placeholder="Lösenord")
                    input(type="hidden" name="_csrf" value="#{token}")
                    button(type="submit") Beräkna

        footer.footer
            p &copy; Supertipset 2014

