doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset | Login
        style.
            *, *:before, *:after {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box; 
                box-sizing: border-box;
            }

            body, html {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 130%;
                background: #ddd;
            }
            .wrapper {
                max-width: 400px;
                margin: 10px auto 0 auto;
            }

            .form-container {
                background: white;
                margin-bottom: 20px;
                padding-top: 5px;
            }

            input {
                border: 1px solid #ddd;
                padding: 10px;
                width: 90%;
                margin: 0 auto 10px auto;
                display: block;
                outline: none;
                font-weight: 100;
                font-size: 15px;
                font-family: Helvetica, Arial, sans-serif;
            }

            input:focus {
                border-color: #1ABC9C;
            }

            button {
                border: 0;
                margin: 15px 0 0 0;
                padding: 15px;
                background: #1ABC9C;
                width: 100%;
                outline: none;
                font-weight: 100;
                font-size: 16px;
                color: white;
                letter-spacing: 2px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                cursor: pointer;
            }

            h1 {
                text-align: center;
                font-weight: 200;
                letter-spacing: 2px;
                margin-bottom: 30px;
                padding-top: 20px;
                line-height: 130%;
                font-size: 28px;
            }

            .error {
                color: #dd0044;
                text-align: center;
                font-size: 14px;
            }

            .success {
                text-align: center;
                font-size: 14px;
                color: #1ABC9C;
            }

            .footer {
                margin-top: 40px;
                text-align: center;
                font-size: 14px;
                color: #222;
                font-weight: 200;
                letter-spacing: 1px;
            }

            .info {
                text-align: center;
                font-size: 14px;
            }

    body
        div.wrapper
            h1 Supertipset

            div.form-container
                p.info Räkna ut poäng baserad på match ID för alla användare.

                if error == 1
                    p.error Var vänlig försök igen

                if success
                    p.success Uträkningen lyckades

                form(method="POST" action="/api/calculate")
                    input(type="text" name="id" placeholder="ID")
                    input(type="password" name="password" placeholder="Lösenord")
                    input(type="hidden" name="_csrf" value="#{token}")
                    button(type="submit") Beräkna

            // div.form-container
            //     p.info Skapa en ny match

            //     form(method="POST" action="/api/games")
            //         input(type="text" name="team_1_id" placeholder="Lag 1")
            //         input(type="text" name="team_2_id" placeholder="Lag 2")
            //         input(type="text" name="round_id" placeholder="Omgång")
            //         input(type="text" name="start_date" placeholder="Start")
            //         input(type="text" name="stop_date" placeholder="Slut")
            //         input(type="hidden" name="_csrf" value="#{token}")
            //         button(type="submit") Skapa match

            // div.form-container
            //     p.info Match resultat

            //     form(method="POST" action="/api/results")
            //         input(type="text" name="team_1_goals" placeholder="Mål lag 1")
            //         input(type="text" name="team_2_goals" placeholder="Mål lag 2")
            //         input(type="text" name="game_id" placeholder="Match")
            //         input(type="hidden" name="_csrf" value="#{token}")
            //         button(type="submit") Spara resultat

        footer.footer
            p &copy; Supertipset 2014

