doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset
        link(rel="stylesheet" href="assets/css/backend.css")
    body(data-ng-app="supertipset")
        div.wrapper

            div.notifications(data-ng-notify="main")
                p {{ notification.message }}

            a.logout(href="/logout") Logga ut

            div.header
                nav.nav(data-ng-controller="NavCtrl")
                    ul.nav-list
                        li.nav-item
                            a.nav-link(href="#/bets" data-ng-class="{ active: isActive('/bets') }") Tippa
                        li.nav-item
                            a.nav-link(href="#/groups" data-ng-class="{ active: isActive('/groups') }") Ligor
                        li.nav-item
                            a.nav-link(href="#/toplist" data-ng-class="{ active: isActive('/toplist') }") Top 10
                        li.nav-item
                            a.nav-link(href="#/profile" data-ng-class="{ active: isActive('/profile') }") Profil

            div.main(data-ng-cloak data-ng-view)

            footer.footer
                p &copy; Supertipset 2014

        if dev
            script(src="assets/js/vendor/angular/angular.js")
            script(src="assets/js/vendor/angular-route/angular-route.js")
            script(src="assets/js/vendor/angular-animate/angular-animate.js")
            script(src="assets/js/vendor/ngDialog/js/ngDialog.js")
            script(src="assets/js/vendor/lodash/dist/lodash.js")
            script(src="assets/js/app.build.js")
        else
            script(src="assets/js/app.min.js")

        script.
            angular.module( 'supertipset' )
                .constant( 'userID', #{id} )
                .constant( 'tournamentID', 1 );
