doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset | Error
        link(rel="stylesheet" href="assets/css/frontend.css")

    body.error
        div.wrapper
            h1 Supertipset
            h2 #{status}

        footer.footer
            p &copy; Supertipset 2014
