doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset

        style.
            .wrapper {
                max-width: 500px;
                margin: 0 auto;
            }

    body
        div.wrapper
            h1 #{status}

