doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset | Login
        link(rel="stylesheet" href="assets/css/frontend.css")

    body.login
        div.wrapper
            h1 Supertipset

            div.form-container
                if error == 1
                    p.error-msg Invalid username and password combination.

                form.login-form(method="POST" action="/login")
                    input(type="text" name="username" placeholder="Användarnamn")
                    input(type="password" name="password" placeholder="Lösenord")
                    input(type="hidden" name="_csrf" value="#{token}")
                    button(type="submit") Logga in

        footer.footer
            p &copy; Supertipset 2014
