doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Supertipset | Register
        link(rel="stylesheet" href="assets/css/frontend.css")

    body.register
        div.wrapper
            h1 Supertipset
            h2 Registrering

            div.form-container
                if error == 1
                    p.error-msg Fyll i samtliga fält korrekt.

                if error == 2
                    p.error-msg Användarnamnet är redan taget.

                if error == 3
                    p.error-msg Något gick fel, vänligen försök igen.

                form.login-form(method="POST" action="/users")
                    input(type="text" name="email" placeholder="Epost")
                    input(type="text" name="username" placeholder="Användarnamn")
                    input(type="text" name="firstname" placeholder="Förnamn")
                    input(type="text" name="lastname" placeholder="Efternamn")
                    input(type="password" name="firstPassword" placeholder="Lösenord")
                    input(type="password" name="secondPassword" placeholder="Repetera lösenord")
                    input(type="hidden" name="_csrf" value="#{token}")
                    button(type="submit") Registrera

        footer.footer
            p &copy; Supertipset 2014

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51835440-1', 'supertipset.se');
            ga('send', 'pageview');
