<!doctype html>
<html>
    <head>
        <title>Supertipset</title>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!-- Dont allow zoom-in -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'supertipset/css/main.css' %}">
    </head>
    <body>
        <div id="mount"></div>
        <!-- <script>window.serverState = { user: { id: {{ user_id }} }, tournament: 1 };</script> -->
        <script>
            window.tournamentID = 2;
            window.userID = {{ user_id }};
        </script>
        <script src="{% static 'supertipset/js/bundle.js' %}"></script>
    </body>
</html>
