<!doctype html>
<html>
    <head>
        <title>Supertipset</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'supertipset/frontend.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Registrera</h1>

            {% if error %}
            <p>Ett fel uppstod!</p>
            {% endif %}

            <form method="post" action="/register/">
                {% csrf_token %}
                <input type="text" name="email" placeholder="Epost"><br>
                <input type="text" name="username" placeholder="Användarnamn"><br>
                <input type="text" name="firstname" placeholder="Förnamn"><br>
                <input type="text" name="lastname" placeholder="Efternamn"><br>
                <input type="password" name="password1" placeholder="Lösenord"><br>
                <input type="password" name="password2" placeholder="Upprepa lösenordet"><br>
                <button type="submit">Registrera</button>
            </form>
        </div>
    </body>
</html>


