<div class="special-bets">
    <div class="user-points-container">
        <h6>POÄNG</h6>
        <p class="user-points">{{ user.points }}</p>
    </div>

    <div data-ng-if="hasStarted">
        <table class="profile-summary">
            <caption>Specialtips</caption>
            <thead>
                <tr>
                    <th>VINNARE</th>
                    <th>SKYTTEKUNG</th>
                    <th>MÅL</th>
                    <th>POÄNG</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ user.team.name ? user.team.name : '-' }}</td>
                    <td>{{ user.player.firstname ? user.player.firstname : '-' }} {{ user.player.lastname }}</td>
                    <td>{{ user.player.goals ? user.player.goals : 0 }}</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Tournament hasnt started -->
    <div data-ng-if="!hasStarted">
        <table data-ng-hide="editing" class="profile-summary">
            <caption>
                Specialtips
                <button data-ng-hide="editing" data-ng-click="editing = !editing" class="edit-special-bets-button" type="button">Tippa</button>
            </caption>
            <thead>
                <tr>
                    <th>VINNARE</th>
                    <th>SKYTTEKUNG</th>
                    <th>MÅL</th>
                    <th>POÄNG</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ user.team.name ? user.team.name : '-' }}</td>
                    <td>{{ user.player.firstname ? user.player.firstname : '-' }} {{ user.player.lastname }}</td>
                    <td>{{ user.player.goals ? user.player.goals : 0 }}</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>

        <div data-ng-show="editing"class="edit-special-bets">
            <form data-ng-submit="specialBet(selectedTeam, selectedPlayer, selectedGoals)">
                <h4>Tippa specialtips</h4>
                <div class="special-bets-items">
                    <div class="special-bet-container">
                        <label>VINNARE</label>
                        <select data-ng-model="selectedTeam" data-ng-options="team.name for team in teams"></select>
                    </div>
                    <div class="special-bet-container">
                        <label>SKYTTEKUNG</label>
                        <select data-ng-model="selectedPlayer" data-ng-options="item.name group by item.group for item in teamsFlat"></select>
                    </div>
                    <div class="special-bet-container">
                        <label>MÅL</label>
                        <input data-ng-model="selectedGoals" type="number">
                    </div>
                </div>

                <button data-ng-click="editing = !editing" type="button" class="btn btn-cancel">Avbryt</button>
                <button data-ng-click="editing = !editing" type="submit" class="btn btn-ok">Spara</button>
                <div style="clear:both;"></div>
            </form>
        </div>
    </div>
</div>

<div data-ng-if="rounds" data-ng-repeat="round in rounds" class="rounds">
    <div data-round data-ng-model="round"></div>
</div>
<p data-ng-if="!rounds" class="no-groups">Inga matcher har ännu skapats.</p>
