<div data-ng-if="hasStarted">
    <div class="user-team">
        <p class="label">LAG</p>
        <p class="team">{{ user.team.name }}</p>
    </div>

    <div class="user-player">
        <p class="label">SPELARE</p>
        <p class="player">{{ user.player.firstname }} {{ user.player.lastname }}, {{ user.player.goals }}</p>
    </div>
</div>

<div data-ng-if="!hasStarted">
    <form data-ng-submit="specialBet(selectedTeam, selectedPlayer, selectedGoals)">
        <select data-ng-model="selectedTeam" data-ng-options="team.name for team in teams"></select>
        <select data-ng-model="selectedPlayer" data-ng-options="item.name group by item.group for item in flattenTeams"></select>
        <input data-ng-model="selectedGoals" type="number">
        <button type="submit">spara</button>
    </form>
</div>

<div class="user-points">
    <p class="label">POÄNG</p>
    <p class="points">{{ user.points }}</p>
</div>

<div data-ng-repeat="round in rounds" class="rounds">
    <div data-round data-ng-model="round"></div>
</div>
