<form data-ng-submit="password(pass, passRepeat)">
    <h2 class="dialog-title">Ändra lösenord</h2>
    <p class="dialog-description">Repetera ditt nya lösenord två gånger:</p>
    <p data-ng-show="message" class="dialog-message">{{ message }}</p>

    <input data-ng-model="pass" class="dialog-input" type="password" placeholder="Lösenord">
    <input data-ng-model="passRepeat" class="dialog-input" type="password" placeholder="Repetera lösenord">

    <div class="dialog-actions">
        <button data-ng-click="closeThisDialog()" class="dialog-action dialog-cancel" type="button">Avbryt</button>
        <button class="dialog-action dialog-ok" type="submit">OK</button>
        <div style="clear:both;"></div>
    </div>
</form>
