<tr class="game">
    <!-- Game has been played -->
    <td data-ng-if="isDone" class="date done">Avgjord</td>
    <td data-ng-if="isDone" class="teams">
        {{ game.teams[0].name }} - {{ game.teams[1].name }}
        <span data-ng-show="game.group">({{ game.group }})</span>
    </td>
    <td data-ng-if="isDone" class="result">{{ game.teams[0].result }} - {{ game.teams[1].result }}</td>
    <td data-ng-if="isDone" class="bets">
        <span data-ng-if="bet">{{ bet.teams[0].bet }} - {{ bet.teams[1].bet }}</span>
        <span data-ng-if="!bet">-</span>
    </td>
    <td data-ng-if="isDone" class="points">
        <span data-ng-if="bet">{{ points }}</span>
        <span data-ng-if="!bet">-</span>
    </td>

    <!-- Game hasnt been played yet -->
    <td data-ng-if="!isDone" class="date">{{ game.start | date:'d/M, HH:mm' }}</td>
    <td data-ng-if="!isDone" class="teams">
        {{ game.teams[0].name }} - {{ game.teams[1].name }}
        <span data-ng-show="game.group">({{ game.group }})</span>
    </td>
    <td data-ng-if="!isDone" class="results">-</td>
    <td data-ng-if="!isDone" class="bets">
        <span data-ng-if="bet">{{ bet.teams[0].bet }} - {{ bet.teams[1].bet }}</span>
        <span data-ng-if="!bet">x - x</span>
    </td>
    <td data-ng-if="!isDone">
        <button data-ng-if="bet" data-ng-click="updateBet()" class="update-bet" type="button">Tippa</button>
        <button data-ng-if="!bet" data-ng-click="createBet()" class="create-bet" type="button">Tippa</button>
    </td>
</tr>
