<div class="game">
    <p>Lag: {{ game.team_1_name }} vs {{ game.team_2_name }}</p>

    <div data-ng-if="isDone">
        <p>Resultat: {{ game.team_1_result }} - {{ game.team_2_result }}</p>
        <p data-ng-if="bet">Dina tips: {{ bet.team_1_bet }} - {{ bet.team_2_bet }}</p>
    </div>

    <div data-ng-if="isDone == false">
        <p>Spelas: {{ game.game_start | date : 'd/M, HH:mm' }}</p>

        <form data-ng-if="bet" data-ng-submit="updateBet(betOne, betTwo)">
            <span>update</span>
            <p>Dina tips: {{ bet.team_1_bet }} - {{ bet.team_2_bet }}</p>

            <select data-ng-model="betOne" data-ng-options="opt for opt in bettingRange"></select>
            <select data-ng-model="betTwo" data-ng-options="opt for opt in bettingRange"></select>

            <button type="submit">update</button>
        </form>

        <form data-ng-if="!bet" data-ng-submit="newBet(betOne, betTwo)">
            <span>new</span>
            <span>dina tips:</span>

            <select data-ng-model="betOne" data-ng-options="opt for opt in bettingRange"></select>
            <select data-ng-model="betTwo" data-ng-options="opt for opt in bettingRange"></select>

            <button type="submit">new</button>
        </form>
    </div>
</div>
