<div class="group">
    <button data-ng-click="$back()" class="back-button" type="button">Tillbaka</button>
    <button data-ng-if="group.admin == user.id" data-ng-click="password()" class="group-password" type="button">Generera nytt lösenord</button>

    <h1>{{ group.name }} <span data-ng-if="group.admin == user.id">(admin)</span></h1>

    <p data-ng-if="group.admin != user.id" class="group-description">{{ group.description }}</p>

    <div data-ng-if="group.admin == user.id">
        <p data-ng-hide="isEditing" class="group-description">
            {{ group.description }}
            <button data-ng-click="edit()" class="edit-group-description" type="button">Redigera</button>
        </p>

        <form data-ng-show="isEditing" data-ng-submit="save()" class="group-description-form">
            <textarea data-ng-model="group.description"></textarea>
            <button data-ng-click="edit()" type="button" class="btn btn-cancel">Avbryt</button>
            <button type="submit" class="btn btn-ok">Spara</button>
            <div style="clear:both;"></div>
        </form>
    </div>

    <table class="group-members">
        <caption>Medlemmar</caption>
        <thead>
            <tr>
                <th class="center">#</th>
                <th>Medlem</th>
                <th class="center hidden-col">Lag</th>
                <th class="center">Poäng</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in group.users">
                <td class="center">{{ $index + 1 }}</td>
                <td><a href="#/profile/{{ user.id }}">{{ user.username }}</a></td>
                <td class="center hidden-col">{{ user.team.name }}</td>
                <td class="center">{{ user.points }}</td>
            </tr>
        </tbody>
    </table>
</div>
